<section class="contacts">
    <div class="container">
        <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts__list">
        <li class="contacts__item">
            <p class="contacts__item-type">Cafe</p>
            <div class="contacts__item-wrapper">
                <p class="contacts__item-title">Chicago</p>
                <p class="contacts__item-dscrp">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </div>
            <ul class="contacts__list-schedule">
                <li class="contacts__item-schedule">
                    <p class="contacts__item-schedule-title">Monday - Friday</p>
                    <p class="contacts__item-schedule-dscrp">06:00 AM - 10:00 PM</p>
                </li>
                <li class="contacts__item-schedule">
                    <p class="contacts__item-schedule-title">Saturday - Sunday</p>
                    <p class="contacts__item-schedule-dscrp">08:00 AM - 16:00 PM</p>
                </li>
            </ul>
            <ul class="contacts__list-contact">
                <li class="contacts__list-contact-item">
                    <a href="tel:+610383766284" class="contacts__list-contact-dscrp">+61(0) 383 766 284</a>
                </li>
                <li class="contacts__list-contact-item">
                    <a href="mailto:noreply@envato.com" class="contacts__list-contact-dscrp">noreply@envato.com</a>
                </li>

            </ul>
        </li>
        <li class="contats__item">
            <p class="contacts__item-type contacts__item-type--green">Food truck</p>
        </li>
        <li class="contats__item">
            <p class="contacts__item-type">Cafe</p>
        </li>
    </ul>
    <ul class="button-list">
        <li>
            <button class="btn" type="button">Our Locations</button>
        </li>
        <li>
            <button class="btn btn--light" type="button">Franchise</button>
        </li>
    </ul>
    </div>
</section>
