<section class="customer-reviews">
  <div class="container cont-cus-rev">
    <h2 class="visually-hidden">про нас</h2>
    <!-- <picture class="customer-reviews-pict">
      <source srcset="./images/ 1x, 
                      ./images/ 2x" 
              media="(min-width: 1200px)" 
      />
      <img src="./images/team/teamcard1/desktop@2x.jpg" alt="hum" />
    </picture> -->
    <p class="customer-reviews-text">
      Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
      nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
    </p>
    <div class="customer-reviews-point">
      <div class="point-acc"></div>
      <div class="point-acc"></div>
      <div class="point-acc"></div>
    </div>
    <p class="customer-reviews-text-city">Emily, Los Angeles</p>
  </div>
</section>
