<!-- <section class="customer-reviews">
  <div class="container cont-cus-rev">
    <h2 class="visually-hidden">про нас</h2>
    <img 
      class="customer-reviews-pict-hum1"
      srcset="
        ./images/customer-reviews/sl-pic1-1x-min.png 1x,
        ./images/customer-reviews/sl-pic1-2x-min.png 2x
      "
      src="./images/customer-reviews/sl-pic1-2x-min.png"
      alt="hum"
    />
    <div class="div-img-bottom">
    <div class="divtextgrad">
    <p class="customer-reviews-text">
      Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
      nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
    </p>
    </div>
    </div>
    <img
      class="customer-reviews-trpoint"
      src="./images/customer-reviews/three-point.png"
      alt="three point"
      width="4"
      height="4"
    />
    <p class="customer-reviews-text-city">Emily, Los Angeles</p>
  </div>
</section> -->
  
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">Slide 1</div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
      <div class="swiper-slide">Slide 4</div>
      <div class="swiper-slide">Slide 5</div>
      <div class="swiper-slide">Slide 6</div>
      <div class="swiper-slide">Slide 7</div>
      <div class="swiper-slide">Slide 8</div>
      <div class="swiper-slide">Slide 9</div>
    </div>
    <!-- <div class="swiper-pagination"></div> -->
  </div>
</section>
