<section class="reviews" id="reviews">
  <div class="container reviews__cont">
    <h2 class="visually-hidden">про нас</h2>
    <!-- Swiper -->
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="reviews__box">
            <img class="reviews__pict-hum" srcset="
                ./images/customer-reviews/sl-pic1-1x-min.png 1x,
                ./images/customer-reviews/sl-pic1-2x-min.png 2x
              " src="./images/customer-reviews/sl-pic1-2x-min.png" alt="hum" />
            <div class="reviews__img-bottom">
              <div class="reviews__grad">
                <p class="reviews__text">
                  Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                  hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
              </div>
            </div>
            <img class="reviews__trpoint" src="./images/customer-reviews/three-point.png" alt="three point" width="4"
              height="4" />
            <p class="reviews__text-city">Kamila, Chicago</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews__box">
            <img class="reviews__pict-hum" srcset="
                ./images/customer-reviews/sl-pic2-1x-min.png 1x,
                ./images/customer-reviews/sl-pic2-2x-min.png 2x
              " src="./images/customer-reviews/sl-pic2-2x-min.png" alt="hum2" />
            <div class="reviews__img-bottom">
              <div class="reviews__grad">
                <p class="reviews__text">
                  Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                  hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
              </div>
            </div>
            <img class="reviews__trpoint" src="./images/customer-reviews/three-point.png" alt="three point" width="4"
              height="4" />
            <p class="reviews__text-city">Emily, Los Angeles</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews__box">
            <img class="reviews__pict-hum" srcset="
                ./images/customer-reviews/sl-pic3-1x-min.png 1x,
                ./images/customer-reviews/sl-pic3-2x-min.png 2x
              " src="./images/customer-reviews/sl-pic3-2x-min.png" alt="hum3" />
            <div class="reviews__img-bottom">
              <div class="reviews__grad">
                <p class="reviews__text">
                  Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                  hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
              </div>
            </div>
            <img class="reviews__trpoint" src="./images/customer-reviews/three-point.png" alt="three point" width="4"
              height="4" />
            <p class="reviews__text-city">Anna, New York</p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>