<footer class="footer">
  <div class="container footer__container">
    <p class="footer__title">
      homemade ice cream made
      <span class="footer__title--accent">with passion</span>
    </p>
    <div class="footer__contacts">
      <ul class="socials">
        <li class="socials__item">
          <a
            class="socials__link"
            href="https://github.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="socials__link-icon" width="20" height="20">
              <use href="./images/icon-svg.svg#icon-git-icon"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a
            class="socials__link"
            href="https://web.telegram.org/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="socials__link-icon" width="20" height="16">
              <use href="./images/icon-svg.svg#icon-telegram-icon"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a
            class="socials__link"
            href="https://facebook.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="socials__link-icon" width="9" height="20">
              <use href="./images/icon-svg.svg#icon-face-icon"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="footer__tel">
        Feel free to contact
        <a class="footer__tel-link" href="tel:+610383766284">+61 (0) 383 766 284</a>
      </p>
    </div>
  </div>
  <div class="footer__bottom">
    <p class="footer__copyright">&#169 2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
