<div class="backdrop-modal is-hidden" data-modal>
  <div class="modal-location">
    <button class="modal__close-btn" type="button" data-modal-close>
      <svg class="modal__icon" width="15" height="15">
        <use href="./images/icon-svg.svg#icon-menu-close"></use>
      </svg>
    </button>
    <h2 class="modal__title">Our Locations</h2>
    <div class="location__list">
      <div class="location__wrapper">
        <div class="location__thumb">
          <iframe
            class="location__iframe"
            title="Chicago"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1988.407364877737!2d-87.60836706980939!3d41.78727525796918!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e293ab417402d%3A0x897ebcc28cf604a4!2sMidway%20Gardens%20Apartments!5e0!3m2!1sen!2sua!4v1641985943320!5m2!1sen!2sua"
            allowfullscreen=""
            loading="lazy"
            noreferrer
          >
          </iframe>
        </div>
        <h3 class="location__title">Chicago</h3>
      </div>
      <div class="location__wrapper">
        <div class="location__thumb">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1157.5403958248999!2d-118.20873000457712!3d33.972511507459714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2ceb4d61294e7%3A0x8ae951aedb163bb6!2sHuntington%20Park%20Parks%20%26%20Rec!5e0!3m2!1sen!2sua!4v1641989864722!5m2!1sen!2sua"
            class="location__iframe"
            title="LA"
            allowfullscreen=""
            loading="lazy"
            noreferrer
          ></iframe>
        </div>
        <h3 class="location__title">Los Angeles</h3>
      </div>
      <div class="location__wrapper">
        <div class="location__thumb">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4552.535996376865!2d-74.19881318133662!3d40.7894460218665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25521600c1975%3A0x4058d069ff64c0b1!2sTroy%20Towers%20Inc!5e0!3m2!1sen!2sua!4v1641990281847!5m2!1sen!2sua"
            class="location__iframe"
            title="NY"
            allowfullscreen=""
            loading="lazy"
            noreferrer
          >
          </iframe>
        </div>
        <h3 class="location__title">New York</h3>
      </div>
    </div>
  </div>
</div>
