<section class="products-section">
  <div class="container">
    <p class="pre-title">100% natural</p>
    <h2 class="title">products</h2>
    <div class="products-wraper">
      <div class="products-list">
        <h3 class="products-item">ice cream</h3>
        <p class="products-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="icon">
          <svg class="bt-icon" width="19" height="16">
            <use href="./images/icon-svg.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>

      <div class="products-list coffee">
        <h3 class="products-item">ice coffee</h3>
        <p class="products-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="icon">
          <svg class="bt-icon" width="19" height="16">
            <use href="./images/icon-svg.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>

      <div class="products-list milkshakes">
        <h3 class="products-item">milkshakes</h3>
        <p class="products-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="icon">
          <svg class="bt-icon" width="19" height="16">
            <use href="./images/icon-svg.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
