.about {
  background-color: var(--secondary-bg-color);
  padding-top: 98px;
  @include mq(tablet) {
    padding-top: 112px;
  }
  @include mq(desktop) {
    padding-top: 119px;
  }
}

.about__container {
  @include mq(tablet) {
  }
}

.about__right {
  margin-left: 50px;
  margin-right: 50px;
}

.about__pre-title {
    margin: 0px 55px 15px 55px;
    padding-top: 125px;
    max-width: 200px;
    @include mq(tablet){
        margin: 0px 243px 16px 244px;
        padding-top: 130px;
        max-width: 30px;
    }
    @include mq(desktop){
        margin: 0px 465px 15px 466px;
        padding-top: 125px;
        max-height: 30px;
    }
}

.about__title {
  margin: 0px 60px 26px 60px;
  max-width: 200px;
}

.about__wrap {
  @include mq(tablet) {
    display: flex;
  }
}

.about__after-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  color: var(--black-text-color);
  margin-bottom: 47px;
}

.about__text {
    
}
.about__before-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  color: var(--secondary-text-color);
  margin-bottom: 17px;
}
.about__after-text{
    font-weight: 500;
    font-size: 12px;
    line-height: 1.6;
    color: var(--secondary-text-color);
    margin-bottom: 17px;
    background-image: url(../images/about/about-bg-mob-1x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.about__btn {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  margin: 0 auto;
  padding: 0px 37px;
  min-width: 176px;
  max-height: 44px;
  text-decoration: none;
  text-align: center;
  border-radius: 22px;
  background-color: var(--primary-white-color);
  color: var(--accent-color);
  border: 0px solid transparent;
  &:hover,
  &:focus {
    //box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--btn-bg-hover);
    //color: var(--accent-color);
    //outline: transparent;
  }
}

.btn__icon {
  margin-left: 14px;
  fill: currentColor;
}
