.about {
  position: relative;
  background-color: var(--secondary-bg-color);
  padding-top: 98px;
//   padding-bottom: 39px;
  @include mq(tablet) {
    padding-top: 112px;
    // padding-bottom: 66px;
  }
  @include mq(desktop) {
    // padding-top: 119px;
  }
}

.about::after {
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  content: '';
  background-image: url(../images/about/about-bg-mob-1x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  max-width: 100%;
  height: 100%;
  z-index: 0;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    & {
      background-image: url(../images/about/about-bg-mob-2x.png);
    }
  }
  @include mq(tablet) {
    display: none;
  }
  @include mq(desktop) {
    display: block;
    top: 50%;
    background-image: url(../images/about/about-bg-desk-1x.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      & {
        background-image: url(../images/about/about-bg-desk-2x.png);
      }
    }
  }
}

// .about__container {
// }

.about__pre-title {
  margin-bottom: 15px;
  padding-top: 125px;
  text-align: center;
  @include mq(tablet) {
    margin-bottom: 16px;
    padding-top: 130px;
    text-align: center;
  }
  @include mq(desktop) {
    margin-bottom: 15px;
    padding-top: 125px;
    text-align: center;
  }
}
.about__title {
  margin-bottom: 26px;
  text-align: center;
  min-width: 200px;
  @include mq(mobile) {
    margin-bottom: 50px;
  }
  @include mq(tablet) {
    margin-bottom: 55px;
  }
}

.about__wrap {
  @include mq(tablet) {
    display: flex;
  }
}

.about__right {
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 39px;
  @include mq(tablet) {
    margin-left: 17px;
    margin-right: 36px;
    padding-bottom: 66px;
  }
  @include mq(desktop) {
    margin-left: 74px;
    margin-right: 117px;
    padding-bottom: 172px;
  }
}

.about__after-title {
  min-width: 220px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  color: var(--black-text-color);
  margin-bottom: 47px;
  @include mq(tablet) {
    min-width: 340px;
    margin-bottom: 29px;
    @include font(14px, 1.76, 500);
  }
  @include mq(desktop) {
    margin-bottom: 35px;
    @include font(16px, 1.76, 500);
  }
}

.about__text {
  min-width: 220px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  @include mq(tablet) {
  }
  @include mq(desktop) {
  }
}
.about__before-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  color: var(--secondary-text-color);
  margin-bottom: 17px;
}
.about__after-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  color: var(--secondary-text-color);
  margin-bottom: 17px;
}

.about__btn {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.28;
  //margin: 0 auto;
  //margin-right: 44px;
  padding: 0px 37px;
  min-width: 176px;
  height: 44px;
  text-decoration: none;
  text-align: center;
  border-radius: 22px;
  background-color: var(--primary-white-color);
  color: var(--accent-color);
  border: 0px solid transparent;
  &:hover,
  &:focus {
    background-color: var(--btn-bg-hover);
    //color: var(--accent-color);
    //outline: transparent;
  }
  @include mq(tablet){
    font-size: 16px;
    line-height: 1.31;
  }
}
.btn__icon {
  margin-left: 14px;
  margin-top: 19px;
  margin-bottom: 17px;
  //fill: currentColor;
}
