.cont-cus-rev {
  display: flex;
  padding-top: 80px;
  padding-bottom: 86px;
  text-align: center;
  align-items: center;
  flex-direction: column;

  @include mq(tablet) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  @include mq(desktop) {
    padding-top: 68px;
    padding-bottom: 132px;
  }
}

.customer-reviews-pict-hum1 {
  margin-bottom: 72px;
  @include mq(tablet) {
    margin-bottom: 15px;
  }
}

.customer-reviews-text {
  position: relative;
  @include font(12px, 2.55, 500);
  color: var(--black-text-color);
  height: 100%;
  width: 157px;
  z-index: 1;
  margin: auto;

  &::before {
    content: '';
    position: absolute;
    display: block;
    background-image: url('../images/customer-reviews/decor.png');
    height: 40px;
    width: 54px;
    left: 10%;
    top: 0;
    transform: translatey(-50%);
    z-index: -1;
    @include mq(tablet) {
      left: 0;
      top: 0;
      transform: translate(-30%, -50%);
    }
    @include mq(desktop) {
      left: 0;
      top: 0;
      transform: translate(-45%, -40%);
    }
  }
  @include mq(tablet) {
    @include font(14px, 2.16, 500);
    width: 460px;
  }
  @include mq(desktop) {
    @include font(16px, 2.16, 500);
    width: 750px;
  }
}
.divtextgrad {
  width: 180px;
  height: 251px;
  background-image: repeating-linear-gradient(
    to bottom,
    rgba(250, 250, 250, 1),
    rgba(250, 250, 250, 1) 30px,
    rgba(225, 225, 225, 1) 30px,
    rgba(225, 225, 225, 1) 31px
  );
  @include mq(tablet) {
    width: 524px;
    height: 106px;
  }
  @include mq(desktop) {
    width: 822px;
    height: 74px;
    background-image: repeating-linear-gradient(
    to bottom,
    rgba(250, 250, 250, 1),
    rgba(250, 250, 250, 1) 32px,
    rgba(225, 225, 225, 1) 32px,
    rgba(225, 225, 225, 1) 33px
  );
  }
}
.customer-reviews-trpoint {
  height: 4px;
  width: 32px;
  margin-bottom: 18px;
  @include mq(tablet) {
    font-size: 14px;
  }
  @include mq(desktop) {
    margin-bottom: 15px;
  }
}

.customer-reviews-text-city {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  color: var(--black-text-color);
  @include mq(tablet) {
    font-size: 16px;
  }
  @include mq(desktop) {
    font-size: 20px;
  }
}

.div-img-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  height: 308px;
  width: 280px;
  margin-bottom: 30px;
  @include mq(tablet) {
    height: 164px;
    width: 620px;
  }
  @include mq(desktop) {
    height: 138px;
    width: 926px;
  }
}
